button {
  border: none;
  background-color: #b94b67;
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-weight: bold;
}
  
button:hover {
  background-color: #ff6b9a;
}

table th,
table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
